nav {
    img {
        object-fit: contain;
        padding: 10px 0;
    }
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    .overlay {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h2 {
        color: #fff;
        font-size: 36px;
        font-weight: bold;
    }

    ._info {
        background: #ffffffe0;
        padding: 15px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        // &:before {
        //     content: '';
        //     background: #00000026;
        //     height: 100%;
        //     width: 100%;
        //     position: absolute;
        // }

        p {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 0;
            z-index: 999
        }

        span {
            font-weight: bold;
            color: #0DA6DF;
            font-size: 20px;
            z-index: 999
        }

    }
    img {
        width: 50px;
        margin-top: 70px;
    }
}